<!doctype html>
<html>
<head>
	<title>Simple Mail Service</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="../static/js/libs/angular-min.js"></script>
	<script src="../static/js/app.js"></script>
	<link rel="stylesheet" href="../static/css/main.css" />
</head>
<body ng-app="mailservice">
	<div ng-controller="HomeCtrl">
		<section id="header">
			<div class="inner">
				<span class="icon major material-icons">email</span>
				<h1>Hi, why can't you just tell us what you feel.</h1>
				<form ng-submit="sendMessage()" name="mailForm" novalidate>
					<div class="container">
						<div class="group">
							<input ng-model="content.name" name="name" type="text" ng-required="true">
							<span class="bar"></span>
							<label>Name</label>
							<p class="error" ng-show="mailForm.name.$error.required && mailForm.name.$touched">Your name is required</p>
						</div>
						<div class="group">
							<input ng-model="content.to_email" name="to_email" type="email" ng-required="true">
							<span class="bar"></span>
							<label>Email</label>
							<p class="error" ng-show="mailForm.to_email.$error.required && mailForm.to_email.$touched">Your email is required</p>
							<p class="error" ng-show="mailForm.to_email.$invalid && !mailForm.to_email.$pristine">Please enter vanild email</p>
						</div>
						<div class="group">
							<input ng-model="content.subject" name="subject" type="text" ng-required="true">
							<span class="bar"></span>
							<label>Subject</label>
							<p class="error" ng-show="mailForm.subject.$error.required && mailForm.subject.$touched">Subject is required</p>
						</div>
						<div class="group">
							<textarea ng-model="content.message" name="message" type="text" rows="4" ng-required="true"></textarea>
							<span class="bar"></span>
							<label>Message</label>
							<p class="error" ng-show="mailForm.message.$error.required && mailForm.message.$touched">Message is required</p>
						</div>
					</div>
					<button class="button" type="submit" ng-disabled="mailForm.$invalid">SUBMIT</button>
					<button class="button" ng-click="reset()" type="reset">RESET</button>
				</form>
			</div>
		</section>
	</div>
</body>
</html>
